%h1 About Me
%p  I am a 16 year old web developer who has a little over three years under his belt in programming. I enjoy building, hacking, fixing and all there is to do with technology. To see my current projects, check out the Projects tab.
%a(href='http://wrightdev.herokuapp.com/projects') Projects 
