%h1 Welcome to the Homepage
%br
%p  Welcome to my personal website for the displaying of my tutorials and projects. I develop for Python, PHP, and Ruby. For instance, this webpage is made with Sinatra.
%textarea(cols=70 rows=10 name="textareaHome")