%h1 Jared Wright
%p  Web/app developer who focuses on Node.js, PHP, C++ and a little Python and Ruby. To follow me, see my twitter <a href='http://twitter.com/jawerty'>here</a>. And to follow my projects and revisions watch my <a href='http://github.com/jawerty'>Github</a>