%h1 Welcome to the Homepage
%br
%p  Welcome to my personal website. I am a web developer for Node.js, PHP, and a little Python and Ruby. To follow me, see my twitter <a href='http://twitter.com/jawerty'>here</a>. And to follow my projects and revisions watch my <a href='http://github.com/jawerty'>Github</a>