!!!  
%html(lang="en")
  %head  
  
    %title Wrightdev
    %meta(NAME="description" CONTENT="The personal website for Jared Wright")
    %meta(NAME="keywords" CONTENT="Jared, Wright, blog, ruby, php, python")
    %meta(name="author" content="Jared Wright")
    %meta(charset="UTF-8")
    %meta(HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8")
    
    %meta(name="MobileOptimized" content="320")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no"")
    %meta(name="HandheldFriendly" content="true")
    %meta(name="MobileOptimized" content="320")
    %meta(name="viewport" content="target-densitydpi=device-dpi") 
    %link(rel="stylesheet" href="css/style.css")  
  %body(background="images/straws.png") 
    #header  
      %label#title Jared Wright
      %br
      %label#subtitle  'Web and App Developer'
    #wrapper  
      
      #nav 
        %ol#nav-ol  
          %a(href="/")  
            %li Home  
          %a(href="about")  
            %li About  
          %a(href="tutorials")
            %li Tutorials
          %a(href="projects")
            %li Projects
      #content  
        =yield  
      #side_bar  
        %h1 Archives 
        #archives
          %a(href="/") Home
          %br
          %pre
            &nbsp&nbsp&nbsp&nbsp- Welcome to the Homepage
       
          %a(href="/about") About 
          %br
          %pre
            &nbsp&nbsp&nbsp&nbsp- About Me

          %a(href="/tutorials") Tutorials
          %br
          %pre
            &nbsp&nbsp&nbsp&nbsp- Intro to Web Development
            
          %a(href="/projects") Projects
          %br
          %pre
            &nbsp&nbsp&nbsp&nbsp- Javascript Game Project 
        %h1 Contact Me
        #contact_me
          %p Twitter -
          %a(href="http://twitter.com/jawerty") @jawerty
          %p Email - 
          %label jawerty210@gmail.com
      #footer  
        %p  
          Jared Wright's Blog - Wrightdev
          