%h1 Node.js Web App Project
%p A website built around hosting static HTML5 pages instantly and easily online, or through the mobile app.
/
  #projectsComment
    %label Comments: 
    %br
    %br
    %textarea(cols=70 rows=10 name="textareaProjects")