%h1 Node.js Web App Project (Ninjapages)
%p A website built around hosting static HTML5 pages instantly and easily online, or through the mobile app.
%p Github - <a href='http://github.com/jawerty/ninjapages'>Ninjapages</a>
