%h1 Intro to Web Development
%p These tutorials will be posted soon...Check out the first few here <a href="http://jawerty.blogspot.com"> Web Tutorials</a>.
#tutorialsComment
  %label Comments: 
  %br
  %br
  %textarea(cols=70 rows=10 name="textareaTutorials")